run = "npm run dev"
hidden = [".config", "package-lock.json", "tsconfig.json"]
modules = ["nodejs-20", "web"]

[nix]
channel = "stable-24_05"

[gitHubImport]
requiredFiles = [".replit", "replit.nix", ".config"]

[deployment]
run = ["sh", "-c", "npm run dev"]
deploymentTarget = "cloudrun"
ignorePorts = false

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 8081

[[ports]]
localPort = 8082
externalPort = 3000

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 38637378
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
